.background {
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(145, 118, 170, 0.171);
}

.modal {
    position: fixed;
    top: 55%;
    left: 57%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 1em;
    border-radius: 8px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: start;

}

.modal div span {
    font-weight: 300;
    font-size: 0.9em;
}

.data {
    border: none;
    border-bottom: 1px solid #807f7f;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.prioridade {
    margin: 3px 0;
    background: #fff;
    width: 120px;
    border-radius: 13px;
    border: 1px solid #807f7f;
    height: 25px;
    font-size: 0.9em;
    text-align: center;
}

.salvar {
    display: flex;
    justify-content: center;
}

.botaoColorido {
    width: 50px;
    height: 25px;
    border-radius: 1.5em;
    cursor: pointer;
    font-size: 0.7em;
    color: #FFF;
    border: none;
    background: rgb(198,128,174);
    background: linear-gradient(90deg, rgba(198,128,174,1) 0%, rgba(151,79,207,1) 100%); 
}

